body {
  font-family: avenir;
}

input#submit {
    width: 20%;
    height: 27px;
    background: #8e6969;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    border:none
}

input {
    height: 19px;
    border-radius: 122px;
    border: 1px solid black;
    margin-top: 5px;
}

  .sport-start-item {
      background: #dadacc;
      list-style: none;
      display: inline-block;
      width: 20%;
      text-align: center;
      margin: 20px;
  }
